    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url(<%= image_path 'promo2.jpg' %>);">
        <div class="bradcumbContent">
            <h2>Biografia</h2>
        </div>
    </section>

    <section class="latest-albums-area section-padding-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-9">
                    <div class="ablums-text text-center mb-70">
                        <p>
                           Forceps é uma banda de Death Metal fundada no Rio de Janeiro no ano de 2006.
                           Musicalmente influenciados por elementos de vários sub-gêneros do metal como Brutal Death Metal, Grindcore e Technical Death Metal, a banda traz em suas letras uma visão catastrófica do futuro, como uma metáfora com o mundo atual, devastado pela ação humana, fazendo assim uma crítica voraz da atual relação da humanidade com o planeta e consigo mesma.
                           A banda já fez vários shows pelo Brasil, uma turnê internacional, uma turnê nacional, lançou um full-lenght, duas DEMOS e um EP.
                           A primeira demo foi lançada em 2007, seguida de uma segunda demo de três faixas intitulada "CORPOREALITY" em 2010, ambas receberam uma ótima resposta do público local e em 2012 a banda assinou com a gravadora norte-americana Ossuary Industries e lançou nos Estados Unidos o EP intitulado “HUMANICIDE“, sua recepção até hoje mostrou que a banda estava definitivamente enraizada na cena Death Metal mundial.
                           Desde então a banda se destacou em shows pelo Brasil, tocando ao lado de grandes nomes da cena mundial como Cannibal Corpse, Napalm Death, Hatebreed, Krisiun e Brujeria.
                           Mesmo entre períodos de atividade e inatividade, devido a mudanças na formação, a banda conseguiu marcar sua presença nas mentes de fãs locais e internacionais.
                           E em 2016 retornou com uma nova formação após a conclusão no ano anterior da gravação e produção do seu primeiro álbum full-length. Agora com Bruno Tavares (guitarra) e Thiago Barbosa (baixo) unindo forças com os duradouros membros Emmanuel Ivan (bateria) e único membro original  Doug Murdoch (vocal), a banda finalmente lançou em 2017 o seu full-lenght e mais recente álbum "MASTERING EXTINCTION”, nos Estados Unidos através da gravadora norte-americana Sevared Records e no Brasil através das nacionais Extreme Sound Records e Black Legion Productions, como divulgação do novo trabalho a banda concluiu a sua primeira turnê internacional com 25 shows nos Estados Unidos entre Outubro e Novembro de 2017, de lá para cá a banda vem divulgando o álbum em diversos shows pelo Brasil.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="section-heading style-2">
                        <h2>Membros</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="single-event-area mb-30">
                                <div class="event-thumbnail">
                                    <%= image_tag "doug.jpg" %>
                                </div>
                                <div class="event-text">
                                    <h4>Doug Murdoch</h4>
                                    <div class="event-meta-data">
                                        <a href="https://www.instagram.com/dougmurdoch" target="_blank" >Instagram</a>
                                        <a href="https://www.facebook.com/doug.v.murdoch" target="_blank">Facebook</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="single-service-area d-flex flex-wrap mb-100">
                                <div class="text">
                                    <h5>Histórico</h5>
                                    <p>Vivamus nibh velit, rutrum at ipsum ac, dignissim iaculis ante.Nam tristique ex vel magna tincidunt, ut porta nisl finibus. Vivamus eu dolor eu quam varius rutrum. Fusce nec justo id sem aliquam fringilla nec non lacus.</p>
                                    <h5>Influencias</h5>
                                    <p>Vivamus nibh velit, rutrum at ipsum ac, dignissim iaculis ante.Nam tristique ex vel magna tincidunt, ut porta nisl finibus. Vivamus eu dolor eu quam varius rutrum. Fusce nec justo id sem aliquam fringilla nec non lacus.</p>
                               </div>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <br />

                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="single-event-area mb-30">
                                <div class="event-thumbnail">
                                    <%= image_tag "manu.jpg" %>
                                </div>
                                <div class="event-text">
                                    <h4>Emmanuel Ivan</h4>
                                    <div class="event-meta-data">
                                        <a href="https://www.instagram.com/emmanuelivanmamute" target="_blank">Instagram</a>
                                        <a href="https://www.facebook.com/emmanuel.ivan.9" target="_blank">Facebook</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="single-service-area d-flex flex-wrap mb-100">
                                <div class="text">
                                    <h5>Histórico</h5>
                                    <p>Vivamus nibh velit, rutrum at ipsum ac, dignissim iaculis ante.Nam tristique ex vel magna tincidunt, ut porta nisl finibus. Vivamus eu dolor eu quam varius rutrum. Fusce nec justo id sem aliquam fringilla nec non lacus.</p>
                                    <h5>Influencias</h5>
                                    <p>Vivamus nibh velit, rutrum at ipsum ac, dignissim iaculis ante.Nam tristique ex vel magna tincidunt, ut porta nisl finibus. Vivamus eu dolor eu quam varius rutrum. Fusce nec justo id sem aliquam fringilla nec non lacus.</p>
                               </div>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <br />

                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="single-event-area mb-30">
                                <div class="event-thumbnail">
                                    <%= image_tag "thiago.jpg" %>
                                </div>
                                <div class="event-text">
                                    <h4>Thiago Barbosa</h4>
                                    <div class="event-meta-data">
                                        <a href="https://www.instagram.com/thiagosouzabarbosa" target="_blank">Instagram</a>
                                        <a href="https://www.facebook.com/thiago.barbosa.33865" target="_blank">Facebook</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="single-service-area d-flex flex-wrap mb-100">
                                <div class="text">
                                    <h5>Histórico</h5>
                                    <p>
                                        Thiago Barbosa​ nasceu em 15 de outubro de 1986 em Brasília. Aos onze anos de idade se mudou para a cidade do Rio de Janeiro, onde se iniciou a sua paixão pela música. 
                                        Desde cedo, a motivação para o desenvolvimento de sua técnica foi o Heavy Metal, mas com o passar do tempo, ele percebeu que abrir sua mente para os outros estilos musicais o tornaria um músico mais versátil e criativo. 
                                        Músico e Produtor ativo na cena Heavy Metal da cidade do Rio de Janeiro desde 2004. Thiago passou por várias bandas de diversos estilos diferentes da cidade, mas foi aos 28 anos de idade que decidiu realmente abrir mão das diversas atividades paralelas para se dedicar integralmente a profissão de músico.
                                        Dentre as diversas bandas e projetos musicais ao longo da sua carreira, Thiago pontua os discos "Obsidian Redemption" da banda "Engines of Torture" e "Our Fury is Unleashed" da banda "Demolishment", onde teve grande participação na composição e gravação.
                                    </p>
                                    <h5>Influencias</h5>
                                    <p>
                                        As principais influências para a criação do seu estilo e sentimento no contrabaixo são os músicos Geezer Butler, Scott Clendenin, Steve DiGiorgio, Alex Webster e Derek Boyer e as bandas Black Sabbath, Death, Suffocation, Deicide, Immolation, Morbid Angel, Dying Fetus e Cannibal Corpse.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <br />

                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="single-event-area mb-30">
                                <div class="event-thumbnail">
                                    <%= image_tag "bruno.jpg" %>
                                </div>
                                <div class="event-text">
                                    <h4>Bruno Tavares</h4>
                                    <div class="event-meta-data">
                                        <a href="https://www.instagram.com/tavaresaraujo.b" target="_blank">Instagram</a>
                                        <a href="https://www.facebook.com/b4rjo" target="_blank">Facebook</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="single-service-area d-flex flex-wrap mb-100">
                                <div class="text">
                                <h5>Histórico</h5>
                                <p>
                                    Bruno Tavares nasceu em 27 de agosto de 1988 em Nova Iorque, desde seu nascimento, sempre teve contato com música pois seu pai já havia entrado no meio musical. 
                                    A motivação para aprender um instrumento surgiu quando escutou o disco "Bat out of Hell" da banda "Meat Loaf" em 1993. Posteriormente, seu pai lhe deu uma guitarra onde foi sua paixão de primeiro contato. Conhecendo outros estilos, Bruno se deparou com a vertente Death Metal e aprimorou sua técnica com práticas diárias na guitarra. 
                                    A seriedade em levar heavy metal como profissão aconteceu na idade de 22 anos. A crença de Bruno é que através da musica que realmente podemos expressar todos os sentimentos pessoais. 
                                    Inicialmente tiveram projetos e bandas locais que Bruno fez parte, com destaque ao Demolishment que em 2011 lançou o EP entitulado "Our Fury is Unleashed". 
                                    Atualmente Bruno faz parte da bandas Forceps e Vorgok. 
                                </p>

                                <h5>Influencias</h5>
                                <p>
                                    As influências de Bruno são Pat O'Brien, Jeff Loomis, Dimebag Darrell, Chuck Schuldiner, Muhammed Suiçmez e Alexi Laiho e as bandas Suffocation, Deicide, Immolation, Morbid Angel, Necrophagist, Dying Fetus, Cannibal Corpse, Kreator, Annihilator e outras. 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>