<!-- ##### Hero Area Start ##### -->
<section class="hero-area">
    <div class="hero-slides owl-carousel">
        <!-- Single Hero Slide -->
        <div class="single-hero-slide d-flex align-items-center justify-content-center">
            <!-- Slide Img -->
            <div class="slide-img bg-img" style="background-image: url(<%= image_path 'promo1.jpg' %>);"></div>
            <!-- Slide Content -->
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="hero-slides-content text-center">
                            <h6 data-animation="fadeInUp" data-delay="100ms">Siga no</h6>
                            <h2 data-animation="fadeInUp" data-delay="300ms">Facebook<span>Facebook</span></h2>
                            <a data-animation="fadeInUp" data-delay="500ms" href="https://web.facebook.com/Forceps/" target="_blank" class="btn oneMusic-btn mt-50">Clique Aqui</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Hero Slide -->
        <div class="single-hero-slide d-flex align-items-center justify-content-center">
            <!-- Slide Img -->
            <div class="slide-img bg-img" style="background-image: url(<%= image_path 'promo2.jpg' %>);"></div>
            <!-- Slide Content -->
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="hero-slides-content text-center">
                            <h6 data-animation="fadeInUp" data-delay="100ms">Siga no</h6>
                            <h2 data-animation="fadeInUp" data-delay="300ms">Instagram<span>Instagram</span></h2>
                            <a data-animation="fadeInUp" data-delay="500ms" href="https://www.instagram.com/forcepsofficial/" target="_blank" class="btn oneMusic-btn mt-50">Clique Aqui</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Hero Area End ##### -->

<!-- ##### Latest Albums Area Start ##### -->
<section class="latest-albums-area section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading style-2">
                    <p>Últimos</p>
                    <h2>Albums</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="albums-slideshow owl-carousel">
                    <a href="https://forceps.bandcamp.com/album/mastering-extinction" target="_blank">
                        <div class="single-album">
                            <div class="album-info">
                                <h5>Mastering Extinction</h5>
                                <p>2017</p>
                            </div>
                            <%= image_tag "album1.jpg" %>
                            <div class="row justify-content-center">
                                <div class="col-12 col-lg-9">
                                    <div class="ablums-text text-center ">
                                        <p>
                                            Em certo momento no tempo, todo organismo atinge seu pico e morre.<br>
                                            O ritmo acelerado da humanidade para aprender e evoluir é igualmente rápido para consumo e destruição. 
                                            Combinado com a evolução da tecnologia, acabará em novos paradigmas e maneiras de estender a existência além dos limites dos fenômenos naturais e não naturais. 
                                            Séculos de crescimento populacional inevitavelmente levaram à aniquilação. 
                                            O caos total e os conflitos gerais irão eclodir entre todas as nações e guerras impensáveis irão espalhar resíduos nucleares e doenças por todo o mundo. 
                                            Conhecer o destino condenado e cerrado mudará todas as sociedades e terminará em uma ruptura de toda a civilização como é conhecida. 
                                            As atrocidades levarão à conseqüência de programas de bio-engenharia e de extensão da vida, até seus horríveis limites, buscando um único objetivo final: Dominar a Extinção. 
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>

                    <a href="https://forceps.bandcamp.com/album/humanicide" target="_blank">
                        <div class="single-album">
                            <div class="album-info">
                                <h5>Humanicide</h5>
                                <p>2012</p>
                            </div>
                            <%= image_tag "album2.jpg" %>
                            <div class="row justify-content-center">
                                <div class="col-12 col-lg-9">
                                    <div class="ablums-text text-center ">
                                        <p>
                                        A sociedade entrou em colapso devido a contaminação viral e guerras subsequentes. 
                                        O mundo viu o nascimento de um novo método de controle e subjugação. 
                                        Castas são consumidas e preservadas até o fim vivendo apenas como objetos de geração de energia aos chamados "Born Ones". 
                                        A humanidade autofágica. O suicídio do que é o Humano como o conhecemos, e a elevação do que há de pior ao extremo.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Latest Albums Area End ##### -->

<!-- ##### Featured Artist Area Start ##### -->
<section class="featured-artist-area section-padding-100 bg-img bg-overlay bg-fixed" style="background-image: url(<%= image_path 'promo3.jpg' %>);">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-12 col-md-5 col-lg-4">
                <div class="featured-artist-thumb">
                    <%= image_tag "album1.jpg" %>
                </div>
            </div>
            <div class="col-12 col-md-7 col-lg-8">
                <div class="featured-artist-content">
                    <!-- Section Heading -->
                    <div class="section-heading white text-left mb-30">
                        <p>Mastering Extinction</p>
                        <h2>Human Cryptobiosis</h2>
                    </div>
                    <p>Métodos levam a uma raça degradada imortal e à queda da vontade de viver. Embutido em seu entardecer a era que uma vez chamou-se:</p>
                    <div class="song-play-area">
                        <div class="song-name">
                            <p>08. Human Cryptobiosis</p> 
                        </div>
                            <%= audio_tag "humancryptobiosis"%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Featured Artist Area End ##### -->

<!-- ##### Latest Albums Area Start ##### -->
<section class="latest-albums-area section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading style-2">
                    <p>Online</p>
                    <h2>Medias</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="albums-slideshow owl-carousel">
                    <a href="https://forceps.bandcamp.com/album/mastering-extinction" target="_blank">
                        <div class="single-album">
                            <div class="album-info">
                                <div style="text-indent: 80px; padding-top:16px">
                                    <iframe src="https://open.spotify.com/follow/1/?uri=spotify:artist:7bKHwk9FKCTIcLD7G4qAnC?si=8Ac-dI_WQXuRqqVqL_b8KQ&size=detail&theme=light" width="300" height="56" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>
                                </div>
                                <br>
                                <iframe src="https://open.spotify.com/embed/artist/7bKHwk9FKCTIcLD7G4qAnC" width="100%" height="390px" allowtransparency="true" allow="encrypted-media"></iframe>
                            </div>
                        </div>
                    </a>

                    <a href="https://forceps.bandcamp.com/album/humanicide" target="_blank">
                        <div class="single-album">
                            <div class="album-info">
                                <div style="text-align: center;">
                                    <br>
                                    <div  class="g-ytsubscribe" data-channel="forcepsdeath" data-layout="full" data-count="default"></div>
                                </div>
                                <br>
                                <iframe width="100%" height="390px" src="https://www.youtube.com/embed/YAhRQfoccRI" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                <script src="https://apis.google.com/js/platform.js"></script>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Latest Albums Area End ##### -->

<!-- ##### Contact Area Start ##### -->
<section class="contact-area section-padding-100 bg-img bg-overlay bg-fixed has-bg-img" style="background-image: url(<%= image_path 'promo4.jpg' %>);">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading white wow fadeInUp" data-wow-delay="100ms">
                    <h2>Contato</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <!-- Contact Form Area -->
                <% if local_assigns.has_key? :status_msg %>
                    <p><%= status_msg %></p>
                <% end %>

                <div class="contact-form-area">
                    <%= form_with local: true, method: :post do %>
                        <div class="row">
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group">
                                    <%= text_field_tag 'txtName', feedback.fetch(:name, nil), placeholder: 'Nome', class: 'form-control' %>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group">
                                    <%= email_field_tag 'txtEmail', feedback.fetch(:email, nil), placeholder: 'E-mail', class: 'form-control' %>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <%= text_field_tag 'txtSubject', feedback.fetch(:subject, nil), placeholder: 'Assunto', class: 'form-control' %>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <%= text_area_tag 'txtMessage', feedback.fetch(:message, nil),  rows: 10, cols: 30, placeholder: 'Mensagem', class: 'form-control' %>
                                </div>
                            </div>
                            <div class="col-12 text-center">
                                <%= submit_tag "Enviar", class: "btn oneMusic-btn mt-30" %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Contact Area End ##### -->

<script>

    $("form").submit(function(event) {
        event.preventDefault();

        var txtName = $("#txtName").val().trim();
        var txtEmail = $("#txtEmail").val().trim();
        var txtSubject = $("#txtSubject").val().trim();
        var txtMsg = $("#txtMessage").val().trim();

        var erroCount = 0;

        if(txtName == ''){
            erroCount ++;
            $("#txtName").css('border-bottom-color','#F00');
        }else{
            $("#txtName").css('border-bottom-color','#FFF');
        }

        if(txtEmail == ''){
            erroCount ++;
            $("#txtEmail").css('border-bottom-color','#F00');
        }else{
            $("#txtEmail").css('border-bottom-color','#FFF');
        }

        if(txtSubject == ''){
            erroCount ++;
            $("#txtSubject").css('border-bottom-color','#F00');
        }else{
            $("#txtSubject").css('border-bottom-color','#FFF');
        }

        if(txtMsg == ''){
            erroCount ++;
            $("#txtMessage").css('border-bottom-color','#F00');
        }else{
            $("#txtMessage").css('border-bottom-color','#FFF');
        }

        if(erroCount == 0){
            $.ajax({
                url: "/home/send_email",
                method: "post",
                headers: {
                    'X-Transaction': 'POST Example',
                    'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
                },
                data: { name: txtName, email: txtEmail, subject: txtSubject, message: txtMsg },
                success: function (result){
                    if(result['success']){
                        alert("Email enviado.")
                    }else{
                        alert("Email não enviado.")
                    }
                },
                error: function () {
                    alert("Erro ao enviar email");
                },
            }); 
        }
    });
</script>