<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(<%= image_path 'promo2.jpg' %>);">
<div class="bradcumbContent">
    <h2>Eventos</h2>
</div>
</section>

<!-- ##### Events Area Start ##### -->
<section class="events-area section-padding-100">
    <div class="container">
        <div class="row">

            <!-- Single Event Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-event-area mb-30">
                    <div class="event-thumbnail">
                        <%= image_tag "event_extremesoud.jpg" %>
                    </div>
                    <div class="event-text">
                        <h4>Extreme Sound Metal Fest</h4>
                        <div class="event-meta-data">
                            <a href="#" class="event-place">Kaiowas Moto Club (Leme, SP)</a>
                            <a href="#" class="event-date">12 de Janeiro, 2019</a>
                        </div>
                        <a href="https://www.instagram.com/stories/highlights/18021758200024409/?hl=en" target="_blank" class="btn see-more-btn">Instagram Story</a>
                    </div>
                </div>
            </div>

            <!-- Single Event Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-event-area mb-30">
                    <div class="event-thumbnail">
                        <%= image_tag "event_facismo.jpg" %>
                    </div>
                    <div class="event-text">
                        <h4>Metal Contra o Facismo</h4>
                        <div class="event-meta-data">
                            <a href="#" class="event-place">Circo Voador (Lapa, RJ)</a>
                            <a href="#" class="event-date">25 de Outubro, 2018</a>
                        </div>
                        <a href="https://www.youtube.com/watch?v=2UM2iAUK5jY" target="_blank" class="btn see-more-btn">Youtube video</a>
                    </div>
                </div>
            </div>

            <!-- Single Event Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-event-area mb-30">
                    <div class="event-thumbnail">
                        <%= image_tag "event_sptour.jpg" %>
                    </div>
                    <div class="event-text">
                        <h4>São Paulo Tour</h4>
                        <div class="event-meta-data">
                            <a href="#" class="event-place">São Paulo</a>
                            <a href="#" class="event-date">7 - 23 de Setembro, 2018</a>
                        </div>
                        <a href="https://www.youtube.com/watch?v=N4dLhqrXYeM" target="_blank" class="btn see-more-btn">Youtube video</a>
                    </div>
                </div>
            </div>

            <!-- Single Event Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-event-area mb-30">
                    <div class="event-thumbnail">
                        <%= image_tag "event_krisiun.png" %>
                    </div>
                    <div class="event-text">
                        <h4>Krisiun</h4>
                        <div class="event-meta-data">
                            <a href="#" class="event-place">Teatro Odisseia (Lapa, RJ)</a>
                            <a href="#" class="event-date">25 de Fevereiro, 2018</a>
                        </div>
                        <a href="https://www.youtube.com/watch?v=ZVsEIDKRr7U" target="_blank" class="btn see-more-btn">Youtube video</a>
                    </div>
                </div>
            </div>

            <!-- Single Event Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-event-area mb-30">
                    <div class="event-thumbnail">
                        <%= image_tag "event_ustour.jpg" %>
                    </div>
                    <div class="event-text">
                        <h4>USA Tour</h4>
                        <div class="event-meta-data">
                            <a href="#" class="event-place">USA</a>
                            <a href="#" class="event-date">13 de Outubro - 12 de Novembro, 2017</a>
                        </div>
                        <a href="#" target="_blank" class="btn see-more-btn">Youtube playlist</a>
                    </div>
                </div>
            </div>

            <!-- Single Event Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-event-area mb-30">
                    <div class="event-thumbnail">
                        <%= image_tag "event_mastering.jpg" %>
                    </div>
                    <div class="event-text">
                        <h4>Brutal Holiday Festival</h4>
                        <div class="event-meta-data">
                            <a href="#" class="event-place">Teatro Odisseia (Lapa, RJ)</a>
                            <a href="#" class="event-date">7 de Setembro, 2017</a>
                        </div>
                        <a href="https://www.youtube.com/watch?v=A8eC1yOunAs" target="_blank" class="btn see-more-btn">Youtube video</a>
                    </div>
                </div>
            </div>

            <!-- Single Event Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-event-area mb-30">
                    <div class="event-thumbnail">
                        <%= image_tag "event_splatter.jpg" %>
                    </div>
                    <div class="event-text">
                        <h4>Spatter Core Fest 9</h4>
                        <div class="event-meta-data">
                            <a href="#" class="event-place">Correria Music Bar (Vila Velha, ES)</a>
                            <a href="#" class="event-date">30 de Setembro, 2017</a>
                        </div>
                        <a href="https://web.facebook.com/Forceps/videos/1749961295067757/UzpfSTEwMDAwMTc3MTI5MzEzMzoxNDcxNTMyMzE2MjQ5MTMx/?q=forceps%20vila%20velha&epa=SEARCH_BOX" target="_blank" class="btn see-more-btn">Facebook Video</a>
                    </div>
                </div>
            </div>

            <!-- Single Event Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-event-area mb-30">
                    <div class="event-thumbnail">
                        <%= image_tag "event_sorocaba.jpg" %>
                    </div>
                    <div class="event-text">
                        <h4>Black Winter Night</h4>
                        <div class="event-meta-data">
                            <a href="#" class="event-place">Sound Bar (Sorocaba, SP)</a>
                            <a href="#" class="event-date">24 de Setembro, 2017</a>
                        </div>
                        <a href="https://www.instagram.com/p/BZchdXrDjBo/?utm_source=ig_web_copy_link" target="_blank" class="btn see-more-btn">instagram foto</a>
                    </div>
                </div>
            </div>

            <!-- Single Event Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-event-area mb-30">
                    <div class="event-thumbnail">
                        <%= image_tag "event_campinas.jpg" %>
                    </div>
                    <div class="event-text">
                        <h4>Forceps</h4>
                        <div class="event-meta-data">
                            <a href="#" class="event-place">Casa Rock (Campinas, SP)</a>
                            <a href="#" class="event-date">23 de Setembro, 2017</a>
                        </div>
                        <a href="https://www.instagram.com/p/BZaEf1LDv3I/?utm_source=ig_web_copy_link" target="_blank" class="btn see-more-btn">Instagram Foto</a>
                    </div>
                </div>
            </div>

            <!-- Single Event Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-event-area mb-30">
                    <div class="event-thumbnail">
                        <%= image_tag "event_noclass.jpg" %>
                    </div>
                    <div class="event-text">
                        <h4>Forceps</h4>
                        <div class="event-meta-data">
                            <a href="#" class="event-place">Casarao Ameno Reseda (Catete, RJ)</a>
                            <a href="#" class="event-date">30 de Abril, 2017</a>
                        </div>
                        <a href="https://www.youtube.com/watch?v=DQx0LfdZpnc" target="_blank" class="btn see-more-btn">youtube video</a>
                    </div>
                </div>
            </div>

            <!-- Single Event Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-event-area mb-30">
                    <div class="event-thumbnail">
                        <%= image_tag "event_alekto.jpg" %>
                    </div>
                    <div class="event-text">
                        <h4>Alekto</h4>
                        <div class="event-meta-data">
                            <a href="#" class="event-place">Stage Bar (Sao Paulo, SP)</a>
                            <a href="#" class="event-date">28 de Abril, 2017</a>
                        </div>
                        <a href="https://web.facebook.com/Forceps/photos/a.1589237691140119/2025195494211001/?type=3&theater" target="_blank" class="btn see-more-btn">Facebook foto</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Events Area End ##### -->