<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>Forceps Official</title>
    <!-- Favicon -->
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'style', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render "header"%>
    <%= yield %>
    <%= render "footer"%>

    <%= javascript_include_tag 'jquery-2.2.4.min', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'popper.min', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'bootstrap.min', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'plugins', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'active', media: 'all', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
